@model List<Someren_Case.Models.Room>

<h2>Rooms</h2>

<table class="table">
    <thead>
        <tr>
            <th>RoomID</th>
            <th>FloorNumber</th>
            <th>NumberOfBeds</th>
            <th>Building</th>
            <th>RoomType</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var room in Model)
        {
            <tr>
                <td>@room.RoomID</td>
                <td>@room.FloorNumber</td>
                <td>@room.NumberOfBeds</td>
                <td>@room.Building</td>
                <td>@room.RoomType</td>
            </tr>
        }
    </tbody>
</table>
