@model IEnumerable<Someren_Case.Models.Activity>

<h1>Activities</h1>
<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">Add New Activity</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>Activity Name</th>
        <th>Date</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var activity in Model)
    {
        <tr>
            <td>@activity.ActivityName</td>
            <td>@activity.Date.ToShortDateString()</td>
            <td>@activity.StartTime.ToString(@"hh\:mm")</td>
            <td>@activity.EndTime.ToString(@"hh\:mm")</td>
            <td>
                <a href="@Url.Action("Edit", new { id = activity.ActivityID })" class="btn btn-warning">Edit</a>
                <a href="@Url.Action("Manage", new { activityId = activity.ActivityID })" class="btn btn-info">Manage</a>
                <a href="@Url.Action("Delete", new { id = activity.ActivityID })" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
